{% extends "base.html.twig" %}

{% block title 'Notre agence' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Agence Lambda</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ducimus commodi beatae sed neque libero eos nobis quod fugiat. Earum illo cumque soluta molestiae aliquid incidunt eveniet quis quasi nulla!</p>

</div>
{% endblock %}